{% extends '@Modules/webpay/views/templates/admin/configure_layout.html.twig' %}

{% block tab %}

    {% include '@Modules/webpay/views/templates/admin/tabs.html.twig' with {'tabActive': 3} %}

    <div class="card">
        <div class="card-block row">
            <table class="table" style="width: 100%; margin: 20px;">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Información del plugin y el ambiente'|trans({}, 'Modules.WebpayPlus.Admin') }}</th>
                    </tr>
                </thead>
                <tr>
                    <td style="width: 300px;">{{ 'Software E-commerce:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{eSummary.ecommerce}}</td>
                </tr>
                <tr>
                    <td>{{ 'Version E-commerce:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{eSummary.currentEcommerceVersion}}</td>
                </tr>
                <tr>
                    <td>{{ 'Versión del plugin instalada:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{eSummary.currentPluginVersion}}</td>
                </tr>
                <tr>
                    <td>{{ 'Última versión del plugin disponible:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{eSummary.lastPluginVersion}}</td>
                </tr>
            </table>

            <table class="table" style="width: 100%; margin: 20px;">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Información del Servidor'|trans({}, 'Modules.WebpayPlus.Admin') }}</th>
                    </tr>
                </thead>
                <tr>
                    <td style="width: 300px;">{{ 'Software Servidor:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.server}}</td>
                </tr>
                <tr>
                    <td>{{ 'Estado de PHP:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.php.status}}</td>
                </tr>
                <tr>
                    <td>{{ 'Versión PHP instalada:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.php.version}}</td>
                </tr>
            </table>

            <table class="table" style="width: 100%; margin: 20px;">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Extensiones PHP requeridas'|trans({}, 'Modules.WebpayPlus.Admin') }}</th>
                    </tr>
                </thead>
                <tr>
                    <td style="width: 300px;">{{ 'openssl:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.phpExtensions.openssl.version}}</td>
                </tr>
                <tr>
                    <td>{{ 'SimpleXml:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.phpExtensions.SimpleXML.version}}</td>
                </tr>
                <tr>
                    <td>{{ 'dom:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{summary.phpExtensions.dom.version}}</td>
                </tr>
            </table>

        </div>

    </div>

{% endblock %}

