{% extends '@Modules/webpay/views/templates/admin/configure_layout.html.twig' %}

{% block tab %}

    {% include '@Modules/webpay/views/templates/admin/tabs.html.twig' with {'tabActive': 4} %}

    <div class="card">
        <div class="card-block row">
            <table class="table" style="width: 100%; margin: 20px;">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Información de Logs'|trans({}, 'Modules.WebpayPlus.Admin') }}</th>
                    </tr>
                </thead>
                <tr>
                    <td style="width: 300px;">{{ 'Directorio de logs:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{resume.dir}}</td>
                </tr>
                <tr>
                    <td>{{ 'Cantidad de logs en directorio:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{resume.length}}</td>
                </tr>
                <tr>
                    <td>{{ 'Listado de logs disponibles:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>
                        {% for log in resume.logs %}
                            <li>{{ log }}</li>
                        {% endfor %}
                    </td>
                </tr>
            </table>

            <table class="table" style="width: 100%; margin: 20px;">
                <thead>
                    <tr>
                        <th colspan="2">{{ 'Último Log'|trans({}, 'Modules.WebpayPlus.Admin') }}</th>
                    </tr>
                </thead>
                <tr>
                    <td style="width: 300px;">{{ 'Último Documento:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{lastLog.filename}}</td>
                </tr>
                <tr>
                    <td>{{ 'Peso del Documento:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{lastLog.size}}</td>
                </tr>
                <tr>
                    <td>{{ 'Cantidad de Líneas:'|trans({}, 'Modules.WebpayPlus.Admin') }}</td><td>{{lastLog.lines}}</td>
                </tr>
            </table>

        </div>

        <div class="card-block row">
            <div class="col">
<pre>
{{lastLog.content}}
</pre>
            </div>
        </div>
        
    </div>

{% endblock %}
    
   