{% extends '@Modules/webpay/views/templates/admin/configure_layout.html.twig' %}

{% block tab %}

    {% include '@Modules/webpay/views/templates/admin/tabs.html.twig' with {'tabActive': 2} %}

    {{ form_start(oneclickForm, {attr : {class: 'form'}, action: path('ps_controller_webpay_configure_oneclick_form_save') }) }}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">settings</i> {{ 'Oneclick'|trans({}, 'Modules.WebpayPlus.Admin') }}
        </h3>
        <div class="card-block row">
            <div class="col">
                <img src="{{ asset('../modules/webpay/views/img/oneclick.png') }}" height="50">
                <div class="tbk_card_title">Webpay Oneclick Mall</div><br>
                Permite a tus usuarios inscribir su tarjeta en su cuenta dentro de tu sitio, para que puedan comprar con un solo click.<br>
                Este plugin funciona en modalidad Mall, significa que tienes un código de comercio mall, un código de comercio tienda y un apikey.<br>
                Cuando un usuario inscribe su tarjeta, la asocia al código de comercio Mall, pero cuando se realiza una transacción, se pagará al código de comercio “tienda” y no al “mall”.<br>
            </div>
            <div class="col tbk_column_line_left">
                {{ form_row(oneclickForm.form_oneclick_active) }}
                {{ form_row(oneclickForm.form_oneclick_environment) }}
                {{ form_row(oneclickForm.form_oneclick_mall_commerce_code) }}
                {{ form_row(oneclickForm.form_oneclick_child_commerce_code) }}
                {{ form_row(oneclickForm.form_oneclick_api_key) }}
                {{ form_row(oneclickForm.form_oneclick_order_after_payment) }}
            </div>
        </div>
        <div class="card-footer">
            <div class="card-block">
                <div class="d-flex justify-content-end">
                    {{ form_widget(oneclickForm.oneclick_form_save_button, { 'attr': {'class': 'btn btn-primary float-right tbk_button'} }) }}
                    &nbsp; &nbsp;  
                    {{ form_widget(oneclickForm.oneclick_form_reset_button, { 'attr': {'class': 'btn btn-primary float-right tbk_button'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-block row">
            <div class="col tbk_column_line">
                <div class="tbk_card_title">¿Quieres operar en producción?</div><br>
                Para operar en el ambiente productivo con dinero real debes tener tu código de comercio Mall, código de comercio Tienda y tu API Key (llave secreta).<br><br> 
                <strong>Código de Comercio</strong><br>
                Si no lo tienes puedes solicitarlo usando <a class="tbk_link" href="https://contrata.transbankdevelopers.cl/Oneclick/?wpcommerce=&wpenv=&utm_source=woocommerce_plugin&utm_medium=banner&utm_campaign=contrata">este formulario</a>.<br><br> 
                <strong>Tu API Key: Proceso de validación</strong><br>
                Para obtenerla debes comenzar el 
                <a class="tbk_link" target="_blank" href="https://form.typeform.com/to/fZqOJyFZ?typeform-medium=embed-snippet&amp;from=prestashop_oneclick" style="margin-top: 5px; display: inline-block;clear: both" data-mode="popup" class="typeform-share link button-primary" data-size="100" data-submit-close-delay="25">proceso de validación</a>.
                <br><br> 
                Si tienes dudas puedes revisar nuestras las 
                <a class="tbk_link" target="_blank" href="https://transbankdevelopers.cl/documentacion/como_empezar#puesta-en-produccion">instrucciones detalladas de cómo pasar a producción</a>.
            </div>
            <div class="col">
                <div class="tbk_card_title">Credenciales de Prueba</div><br>
                En el ambiente de integración debes probar usando tarjetas de crédito y débito de prueba.
                <a class="tbk_link" target="_blank" href="https://transbankdevelopers.cl/documentacion/como_empezar#tarjetas-de-prueba">Encuentra las tarjeta de prueba aquí </a>
                <br><br>
                Después de seleccionar el método de pago (en una compra de prueba), llegarás a una página de un banco de prueba.<br> 
                Debes ingresar estas credenciales:<br>
                <strong>Rut: 11.111.111-1</strong><br>
                <strong>Clave: 123</strong>
            </div>
        </div>
    </div>
    {{ form_end(oneclickForm) }}

{% endblock %}
    
   