<div class="page-head-tabs">
    <ul class="nav nav-pills">      
        <li class="nav-item">
            <a href="{{ path('ps_controller_webpay_configure_webpayplus') }}" class="nav-link tab {{ tabActive == 1 ? 'active current' : '' }}" >
                Webpay Plus 
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ps_controller_webpay_configure_oneclick') }}" class="nav-link tab {{ tabActive == 2 ? 'active current' : '' }}" >
                Oneclick
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ps_controller_webpay_configure_diagnosis') }}" class="nav-link tab {{ tabActive == 3 ? 'active current' : '' }}" >
                Diagnóstico
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ps_controller_webpay_configure_logs') }}" class="nav-link tab {{ tabActive == 4 ? 'active current' : '' }}" >
                Logs
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('ps_controller_webpay_configure_info') }}" class="nav-link tab {{ tabActive == 5 ? 'active current' : '' }}" >
                PHP Info
            </a>
        </li>
    </ul>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     </ul>
</div>
<br>
